<html>
  <head>
    <style>
      body {
        background: #eee;
        margin: 1em;
        text-align: center;
      }
      canvas {
        display: block;
        margin: 1em auto;
        background: #fff;
        border: 1px solid #ccc;
      }
    </style>
  </head>
  <body>
    <p>
      Showing how to use transform methods on the HTML5 Canvas Context to
      selectively zoom in and out. Drag to pan. Click to zoom at that location.
      Shift-click to zoom out. Mousewheel up/down over the canvas to zoom in to/out
      from that location.
    </p>
    
    <canvas></canvas>
    <script src="./index.js"></script>
  </body>
</html>

